body{
    font-family: 'Poppins', sans-serif;
    margin: o;
}
h1{
    font-size: 50px;
}
.blue-color{
    color: blue;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;

}
.half-width{
    width: 50%;
    padding-left: 2%;
    
}
.half-width img{
    width: 100%;
}
#foods-li{
    color: white;
    align:center;
    padding-left: 25px;
    margin: 10px;
    
}
#top-pat{
    background-color: cornflowerblue;
}
.order-button{
    text-decoration: none;
    background-image: linear-gradient(blue,blueviolet);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}


.About-us{
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
}
#recipies{
    text-align: center;
}
#food{
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}
.Recipies-items{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    align: justify;
    border-radius: 30px;
    box-shadow: 0 0 10px gray;
    border:10px solid white;
}
#foods-review{
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    align: center
    ;
    border-radius: 30px;
    box-shadow: 0 0 10px gray;
    border:10px solid white;
}
.Recipies-items img{
    width: 100%;
    border-radius: 30px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: darksalmon;
    color: white;
}
